* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgb(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}

body.no-scroll {
    overflow: hidden;
}

.navegacao {
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 5;
    width: 300px;
    height: 100vh;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.navegacao:hover {
    box-shadow: 6px 3px 12px 1px #7C3AED;
    transition: 0.7s ease;
}

.navegacao.active {
    left: 0;
}

.navegacao nav {
    width: 100%;
    height: 100%;
    background-color: var(--maisEscuro);
    padding-top: 90px;
}

.navegacao nav ul li {
    width: 40%;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.navegacao nav ul li a {
    display: flex;
    gap: 10px;
    color: var(--claro);
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.navegacao nav ul li a i {
    font-size: 1.2rem;
    transition: transform 0.5s ease;
}

.navegacao nav ul li:hover i {
    transform: translate(5px) rotate(20deg);
}


.navegacao nav ul li::after {
    content: '';
    position: absolute;
    z-index: 1;
    background-color: var(--secundaria);
    border-radius: 0 30% 30% 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navegacao nav ul li:hover::after {
    width: 40%;
}

.botao-lateral {
    position: absolute;
    z-index: 5;
    top: 30px;
    left: 30px;
    transition: 0.5s ease;
}

.botao-lateral.active {
    left: 310px;
    position: fixed;
    top: 30px;
}

.botao-lateral .btn-lateral {
    padding: 5px 10px;
    border: none;
    border-radius: 7px;
    background-color: var(--primaria);
    cursor: pointer;
    transition: 0.4s ease;
}

.botao-lateral .btn-lateral i {
    font-size: 1.5rem;
    color: var(--claro);
    transition: 0.5s ease;
}

.botao-lateral .btn-lateral:hover {
    background-color: var(--secundaria);
}

.botao-lateral .btn-lateral:hover i {
    transform: translateY(-2px) scale(1.2);
}

.foto-perfil {
    width: 170px;
    height: 170px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 5.1s ease-in-out infinite;
}

.cabecalho {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.cabecalho h1 {
    font-size: 3.2rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
}

.cabecalho-paragrafo {
    font-size: 1.2rem;
    color: var(--claro);
}

.sobre {
    padding: 6rem 2rem;
}

.sobre .sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 20px;
}

.sobre .sobre-caixa {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(225, 225, 225, 0.05);
}

.sobre .sobre-caixa {
    text-align: center;
    font-size: 1rem;
}

.projetos {
    padding: 6rem 2rem;
}

.projetos .projeto-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.projetos .projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos .projetos-caixa .projetos-card {
    background: rgba(225, 225, 225, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}

.projetos .projetos-caixa .projetos-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.projetos .projetos-caixa .projetos-card .projeto-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.projetos .projetos-caixa .projetos-card .caixa-textos-projeto {
    padding: 1.5rem;
}

.projetos .projetos-caixa .projetos-card .caixa-textos-projeto .info-projetos {
    color: rgba(255, 255, 255, 0.879);
    line-height: 1.25rem;
    margin-bottom: 5px;
}

.contato {
    padding: 6rem 2rem;
}

.contato .contato-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.contato .formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(225, 225, 225, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
}

.contato .formulario-contato .campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(225, 225, 225, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}

.contato .formulario-contato .campo-form:focus {
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.contato .formulario-contato .grupo-form {
    margin-bottom: 1.5rem;
}

.contato .formulario-contato .botao-form {
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s ease;
}

.contato .formulario-contato .botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--vidro);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
}

.background.active {
    visibility: visible;
    opacity: 1;
}

.btn-topo {
    position: fixed;
    bottom: 20px;
    left: 10px;
    visibility: hidden;
    opacity: 0;
    transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn-topo.active {
    visibility: visible;
    opacity: 1;
}

.btn-topo .btn-home {
    background-color: var(--primaria);
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.4s ease;
}

.btn-topo .btn-home i {
    color: var(--claro);
    transition: 0.5s ease;
}

.btn-topo .btn-home:hover {
    background-color: var(--secundaria);
}

.btn-topo .btn-home:hover i {
    transform: translateY(-3px) scale(1.2);
}


@keyframes flutuar {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}